body{
    text-align: left;
    color: black;
}

.is-hoverable{
    text-align: right;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: lightgreen;
}

#searchBarWrap{ 
    text-align: bottom;
    margin-top: 100px;
    margin-left: 280px;
    width: 50%;
    
}

.section{
    background-color: lightgreen;
    
}

.button{
    margin-left: 46.2%;
}

#rotate{
    vertical-align:top;
      transform:rotate(7deg);
    -ms-transform:rotate(90deg); 
    -moz-transform:rotate(90deg); 
    -webkit-transform:rotate(90deg); 
    -o-transform:rotate(90deg); 
}

.button-2{
    color: blue;
    margin-left: 95%;
    margin-bottom: 50px;
    
}


.list{
    margin-left: 10%;
}