.hero {
    margin-bottom: 20px;

}

.title {
    font-family: 'Calistoga', cursive;
    font-size: 45px;
}

.subtitle {
    font-family: 'Mandali', sans-serif;
    font-size: 22px;
}

body {
    text-align: left;
    color: black;
}

.card-header-title {
    font-family: 'Mandali', sans-serif;
    font-size: 30px;
}

.panel-title {
    font-family: 'Calistoga', cursive;
    font-size: 28px;
}

.is-hoverable{
    text-align: right;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: lightgreen;
}

#searchBarWrap{ 
    text-align: center;
    margin-top: 80px;
    margin-left: 280px;
    width: 50%;
}

#search-results {
    display: none;
}

#recipe-info {
    font-family: 'Mandali', sans-serif;
}

#topbar-search {
    opacity: 0.0;
}

.section{
    background-color: lightgreen;
    
}

#search-area {
    padding-top: 50px;
}


.recipe-img {
    float:right;
}

.recipe-description {
    width: 100%;
    font-family: 'Mandali', sans-serif;
    font-size: 16px;
}

.inst-title {
    font-family: 'Calistoga', cursive;
    font-size: 20px;
}

.ingredients-list {
    padding-left: 35px;
    padding-bottom: 20px;
}

.instructions-list {
    padding-left: 35px;
}

#add-favorite,#remove-favorite{
    /* font-size: 14pt; */
    cursor: pointer;
}

#mobile-buttons {
    padding-top: 10px;
    margin: auto;
    justify-content: center;
}

.button-mobile {
    margin-right: 15px;
}

#add-favorite:hover::after{
    content:" ~ Add to Favorites";
    opacity: 50%;
    font-size: 13pt;
}

#remove-favorite:hover::after{

    content:" ~ Remove from Favorites";
    opacity: 50%;
    font-size: 13pt;
}

#favorites {
    font-family: 'Mandali', sans-serif;
    font-size: 20px;
}

.favorites-link {
    color: whitesmoke;
    cursor: pointer;
}

.teal{
    color: #00d1b2;
}

@media screen and (max-width: 600px) {

    .hero {
        padding-bottom: 0px;
    }

    .title {
        font-size: 35px;
        text-align: center;
    }

    .subtitle {
        font-size: 18px;
        text-align: center;
    }

    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: flex;
    }

    .desktop-hide {
        display: none;
    }

    #favorites {
        text-align: center;
    }

    #search-area {
        padding-top: 0px;
    }

    #search-results {
        padding-top: 0px;
    }

    #recipe-info {
        padding-top: 0px;
    }


    
  }

  @media screen and (min-width: 610px) {

    .mobile-show, .desktop-hide {
        display: none;
    }

    #recipe-info, #recipe-nutrition, #recipe-inst, #results-list{
        display: block !important;
    }

  }
