.hero {
    margin-bottom: 20px;
    background-color: #9AE798;

}

.title {
    font-family: 'Calistoga', cursive;
    font-size: 45px;
}

.subtitle {
    font-family: 'Mandali', sans-serif;
    font-size: 22px;
}

body {
    text-align: left;
    color: black;
}

.card-header-title {
    font-family: 'Mandali', sans-serif;
    font-size: 30px;
}

.panel-title {
    font-family: 'Calistoga', cursive;
    font-size: 28px;
}

.is-hoverable{
    text-align: right;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: lightgreen;
}

#searchBarWrap{ 
    text-align: center;
    margin-top: 80px;
    margin-left: 280px;
    width: 50%;
}

#search-results {
    display: none;
}

#recipe-info {
    font-family: 'Mandali', sans-serif;
}

#topbar-search {
    opacity: 0.0;
}

#favorites {
    opacity: 0.0;
}

.section{
    background-color: lightgreen;
    
}

#search-area {
    padding-top: 50px;
}


.recipe-img {
    float:right;
}

.recipe-description {
    width: 100%;
    font-family: 'Mandali', sans-serif;
    font-size: 16px;
}

.inst-title {
    font-family: 'Calistoga', cursive;
    font-size: 20px;
}

#ingredients-list {
    padding-left: 35px;
    padding-bottom: 20px;
}

#instructions-list {
    padding-left: 35px;
}

#add-favorite,#remove-favorite{
    /* font-size: 14pt; */
    cursor: pointer;
}

#mobile-buttons {
    padding-top: 10px;
    margin: 0 auto; 
    display: none;
}

#add-favorite:hover::after{
    content:" ~ Add to Favorites";
    opacity: 50%;
    font-size: 13pt;
}
#remove-favorite:hover::after{

    content:" ~ Remove from Favorites";
    opacity: 50%;
    font-size: 13pt;
}
.favorites-link{
    color: rgb(76, 76, 235);
    cursor: pointer;
}

.desktop-hide {
    display: none;
}

.mobile-show {
    display: none;
}

@media only screen and (max-width: 600px) {
    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: flex;
        align-content: center;
    }
    
  }
