.hero {
    margin-bottom: 20px;
    background-color: lightgreen;
    position: sticky;

}

.title {
    font-family: 'Calistoga', cursive;
}

.subtitle {
    font-family: 'Mandali', sans-serif;
}

body {
    text-align: left;
    color: black;
}

.card-header-title {
    font-family: 'Mandali', sans-serif;
    font-size: 30px;
}

.is-hoverable{
    text-align: right;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: lightgreen;
}

#searchBarWrap{ 
    text-align: center;
    margin-top: 80px;
    margin-left: 280px;
    width: 50%;
    
}

.results-title {
    font-family: 'Calistoga', cursive;
    font-size: 25px;

}

.section{
    background-color: lightgreen;
    
}

.search-area {
    padding-top: 50px;
}


.recipe-img {
    float:right;
}

.recipe-description {
    width: 100%;
    font-family: 'Mandali', sans-serif;
}

